
.content {
    display: block;
    background-color: rgb(227, 236, 253);
    margin: auto;
    width: 50%;
    height: 500px;
}
.content-data{
    display: flex;
    align-items: center;
   justify-content: center;
   flex-direction: column;
}